<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-4 py-5 my-5 border-top">
      <div class="col mb-3">
          <p>Nama Saya Edy Mikhael Novrianta Surbakti, tinggal di Medan. ID Kegiatan MSIB saya adalah 7703750.</p>
      </div>

      <div class="col mb-3">

      </div>

      <div class="col mb-3">
          <h5>Hobi saya adalah : </h5>
          <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">- Futsal</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">- Memancing</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">- Bermain</a></li>
          </ul>
      </div>

      <div class="col mb-3">
          <h5>Kontak Saya</h5>
          <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">- HP : 081264963323</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">- IG : @edymikhaelxyz</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">- Email: edymikhaelxyz24@gmail.com</a></li>
          </ul>
      </div>
  </footer>
</div>